/*import*/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');


*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(0.5em + 1vh);
}

/*header*/
.container{
    background-color: #000023;
}

.header {
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: center;
}

.header img{
    margin: 10px;
}

li{
    list-style: none;
    display: flex;
    flex-direction: center;
}

a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    margin: 10px;
}

/*body*/
.inicio{
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    height: 524px;
}

.inicio img{
    margin:40px;
}

.informacion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    border: 1px solid transparent;
    margin:40px 70px;
}

.informacion h2{
    color: black;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Anton', sans-serif;
}

.informacion p{
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: justify;
}

/*investigacion*/
